<div class="container">
    <form class="registration">
        <div class="reg">
            <div class="inp">
                <input [(ngModel)]="reg_email" type="text" class="input" name="email" placeholder="Email address">
                <br>
                <input [(ngModel)]="reg_password" type="password" class="input" name="password" placeholder="Password">
                <br>
            </div>
            <div class="reg_btn">
                <button class="btn_registration">Register me</button>
            </div>
        </div>
    </form>
</div>