.container{
    position: absolute;
    background-image: url(images/batlefield.jpeg);
    width: 100%;
    margin-left: -10px;
    padding-right: 10px;
    height: 100%;   
}
.login{
    width: 400px;
    height: 500px;
    position: absolute;
    margin-top: 50px;
    margin-left: 100px;
    background-color: greenyellow;
    border-radius: 20px;
}
.log{
    margin-top: 60px;
    margin-left: 50px;    
}
.log_btn{
    margin-left: 70px;
}
.input{
    border-radius: 10px;
    margin-top: 50px;
    height: 45px;
    font-weight: bold;
    width: 300px;
}
.btn{
    height: 50px;
    width: 150px;
    border-radius: 5px;
    font-family: cursive;
    margin-top: 50px;
    font-weight: bold;
}
.inp{
    border-radius: 10px;
}
.bot{
    margin-top: 50px;
    font-family: cursive;
    font-size: 20px;
    margin-left: -10px;
}
    