<div class="container">
    <form class="login">
        <div class="log">
            <div class="inp">
                <input [(ngModel)]="email" type="text" class="input" name="email" placeholder="Email address">
                <br>
                <input [(ngModel)]="password" type="password" class="input" name="password" placeholder="Password">
                <br>
            </div>
            <p class="bot"><input type="checkbox" (click)=checked() style="transform:scale(2.0); margin-right: 10px;">Press checkbox if you are not bot</p>
            <div class="log_btn">
                <button class="btn_registration" routerLink="Registration">Registration</button>
                <button class="btn_signin" (click)="check_password()">Sign in</button>
            </div>
        </div>
    </form>
</div>