<div class="container">
    <form class="login">
        <div class="log">
            <div class="inp">
                <input type="text" class="input" placeholder="Email address">
                <br>
                <input type="text" class="input" placeholder="Password">
                <br>
            </div>
            <p class="bot"><input type="checkbox" style="transform:scale(2.0); margin-right: 10px;" >Press checkbox if you are not bot</p>
            <div class="log_btn">
                <button class="btn" routerLink="/AAGF">Sign in</button>
            </div>
        </div>
    </form>
</div>