.container {
    margin-left: -10px;
    width: 100%;
    height: 200vh;
    padding-right: 15px;
    background-image: url(https://avatars.mds.yandex.net/get-pdb/2497711/6c900516-953e-4254-837e-1ecb1058419b/s1200);
}

.nav_bar {
    height: 80px;
    background-color: rgb(36, 39, 39);
    position: absolute;
    margin-left: -10px;
    width: 100%;
    padding-right: 10px;
}

.nav {
    margin-left: 20%;
}

.nav_link {
    border-radius: 5px;
    background-color: lightseagreen;
    height: 35px;
    width: 150px;
    font-weight: bold;
    margin-left: 30px;
}

.nav_link:hover {
    background-color: tomato;
}

.logout {
    float: right;
    width: 150px;
    height: 45px;
    font-weight: bold;
    border-radius: 20px;
    background-color: rgb(0, 119, 255);
}

.logout:hover {
    background-color: violet;
}

.film {
    position: absolute;
    width: 80%;
    height: 500px;
    margin-top: 80px;
    margin-left: 10%;
}

.film_photo {
    position: absolute;
    margin-top: 50px;
    height: 300px;
    width: 250px;
}

.filmfull {
    position: absolute;
    height: 500px;
    width: 70%;
    margin-left: 300px;
}

.film_name {
    position: absolute;
    margin-top: 50px;
    margin-left: 40%;
}

.film_description {
    position: absolute;
    font-size: 20px;
    margin-top: 100px;
    height: 450px;
    width: 100%;
}

.video {
    position: absolute;
    height: 300px;
    width: 500px;
    margin-top: 300px;
}